svg{
    stroke: #000;
    stroke-miterlimit: 10;
    fill: none;
    fill-opacity: 0.4;
    overflow: visible;
    width: 95%;
}

.floorplan{
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 15px;
}

#raum {
    fill: white;
}

.tisch {
    fill: burlywood;
}

.webentwicklung {
    fill:red;
}

.automotive {
    fill:green;
}

.itc {
    fill:yellow;
}

.buchhaltung {
    fill:blue;
}

.jux {
    fill:orange;
}

.businessadmin {
    fill:purple;
}

.personalentwicklung {
    fill:cyan;
}

.gfmanagement{
    fill:lime;
}

.farmer {
    fill:pink;
}

.hunter {
    fill:teal;
}

.talentgewinnung {
    fill:rgb(217, 177, 255);
}

#konferenz {
    fill:brown;
}

.alfdav {
    fill:rgb(126, 148, 29);
}

.innovation {
    fill:magenta;
}

#ae{
    fill: navy;
}